html {
	background-color: rgb(232, 245, 255);
}

body {
	margin: 25px;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	text-align: center;
}

h1 {
  	font-family: Papyrus, Copperplate, fantasy;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
}

h2 {
  	font-family: Papyrus, Copperplate, fantasy;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	margin: 5px;
}

h3 {
  	font-family: Papyrus, Copperplate, fantasy;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	margin: 5px;
}

img {
	border-radius: 8px;
	max-height: 400px;
	display: block;
    	margin: 50px auto;
}

.menu-item {
    font-size: 20px;
}

.menu-item:hover {
    text-decoration: underline;
}

.button-rsvp {
    align-items: center;
    background-clip: padding-box;
    background-color: #1a4981;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgb(232, 245, 255);
    cursor: pointer;
    display: inline-flex;
    font-family: fangsong, Times, serif;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 30px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 300px;
}

.button-rsvp:hover {
    transform: translateY(-1px);
    background-color: #315d92;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
}

.button-rsvp:focus {
    background-color: #315d92;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
}

.column1 {
	float: left;
	margin-top: 20px;
	width: 20%;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: rgb(114, 27, 27);
}

.column2 {
	float: left;
	margin-top: 8px;
	width: 50%;
	text-align: left;
}

.row:after {
    	content: "";
    	display: table;
    	clear: both;
}

.keyword {
	font-size: 16px;
	color: #721b1b;
	font-weight: bold;
}

.bio {
	margin-left: 30px;
	margin-right: 30px;
	font-family: "Times New Roman", Times, serif;
	text-align: left;
}
